{% extends 'base.html.twig' %}

{%  block body %}
    <h2>Address</h2>
    <small>Hello {{ firstname }} , please enter your address details</small>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}