<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header><h1><a href="/">Wunder Payment App</a></h1></header>
            <div class="row align-items-center">
                <div class="col-md-8">
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
