{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="alert alert-success" role="alert">
            {{ fullname }} thanks for your payment
        </div>
        <span>The order has been placed. payment id : {{ payment_id }}</span>
    </section>
{% endblock %}