{% extends 'base.html.twig' %}

{%  block body %}
    {% if payment_fail %}
        <div class="alert alert-failed" role="alert">
            Payment failed please fill the form up again.
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{%  endblock %}